<ul>
  <div class="container" *ngFor="let task of tasks">
    <div class="task">
      <a [class.done]="task.done" [routerLink]="['/task', task.id]">{{ task.name }}</a>
      <div class="buttons">
        <button
          *ngIf="!task.done"
          class="btn btn-primary"
          (click)="markAsDone(task.id)"
        >
          Done
        </button>
        <button class="btn btn-danger delete" (click)="delete(task.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</ul>
